<a href="<%= subs_url %>">Back to index</a><br>
Sub: <%= @sub.name %>
(Created by <%= @sub.user.username %>) <br>
<a href="<%= edit_sub_url(@sub) %>">Edit Sub</a><br>

<% @sub.posts.each do |post| %>
  <a href="<%= post_url(post) %>"> <%= post.title %></a> <br>
<% end %>

<%= button_to "New Post", new_post_url(@sub), method: :get %>
